body {
    background-color: goldenrod;
    margin: 20px 500px 10px 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    text-shadow: 2px 2px 2px rgb(228, 10, 10);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img {
    width: "650px";
    height: "350px";
    /* margin-left: auto;
    margin-right: auto; */
}

.center_content {
    background-color: rgb(252, 232, 4);
    box-shadow: 20px 20px 20px #f70101;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px 30px;
    margin: 1px;
    margin-top: 20px;
}


